// IMPORTS
@import '../../bower_components/susy/sass/susy';
@import '../../bower_components/breakpoint-sass/stylesheets/breakpoint';

// SUSY-MAP - http://susy.readthedocs.org/en/latest/settings/
$susy: (
  // flow: ltr,
  // math: fluid,
  // output: float,
  // gutter-position: after,
  container: 64em,
  // container-position: center,
  columns: 12,
  gutters: 0.25,
  // column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: show-columns,
    // color: rgba(#66f, .25),
    // output: background,
    toggle: bottom left,
  ),
  use-custom: (
    // background-image: true,
    // background-options: false,
    // box-sizing: true,
    clearfix: true,
    rem: true,
  )
);

// CUSTOM CLEARFIX MIXIN
@mixin clearfix {
  &:before,
  &:after {
    display: table;
    content: ' ';
  }

  &:after {
    clear: both;
  }
}

// BOX-SIZING: BORDER BOX
@include border-box-sizing;

// DEFAULT STYLES
html {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  cursor: auto;
}

html,
body {
  font-size:100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  color: #000;
  text-size-adjust: 100%;
  background: #fff;
}

a {
  color: #268bd2;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    cursor: pointer;
  }
}

img {
  height: auto;
  max-width: 100%;
}

// MEDIA QUERIES
$bp-small: 30em;
$bp-medium: 48em;
$bp-large: 64em;

// OFF-CANVAS-NAVIGATION
$off-canvas-width: 250px;

.outer-wrap,
.inner-wrap {
  height: 100%;
}

.outer-wrap {
  overflow: hidden;
}

.inner-wrap {
  backface-visibility: hidden;
  transition: transform 0.3s ease;
  &.is-open {
    transform: translate3d($off-canvas-width, 0, 0);
  }
}

.off-canvas {
  position: absolute;
  width: $off-canvas-width;
  left: -$off-canvas-width;
  top: 0;
  bottom: 0;
  transition: transform 500ms ease 0s;
  background: #333333;
}

.off-canvas-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.off-canvas-list__item a {
  display: block;
  transition: #DEDEDE 300ms ease 0s;
  padding: 0.7rem;
  color: rgba(255,255,255,.7);
  border-bottom: 1px solid #262626;

  &:active,
  &:hover {
    background: #242424;
    text-decoration: none;
  }
}

// JUST SOME LAYOUT
.container {
  @include container;
}

header,
article,
aside {
  margin-bottom: gutter();
  border: 2px solid #888;
}

header {
  padding: 1em;
}

article {
  padding: 2em 0;

  @include breakpoint($bp-small) {
    @include span(9);
  }

  @include breakpoint($bp-medium) {
    @include span(8);
  }

  h3 {
    margin-left: span(1 of 8) + gutter(8);
  }
}

aside {
  padding: 2em 0;

  @include breakpoint($bp-small) {
    @include span(3 last);
  }

  @include breakpoint($bp-medium) {
    @include span(4 last);
  }

  h3 {
    margin-left: span(1 of 8);
  }
}

footer {
  padding: 1em;
  clear: both;
  border: 2px solid #888;
}

.browserupgrade {
  padding: 0.2em 0;
  margin: 0.2em 0;
  color: #000;
  background: #ccc;
}

// INSERT YOUR MAGIC HERE :)
