// IMPORTS
@import '../../bower_components/susy/sass/susy';
@import '../../bower_components/breakpoint-sass/stylesheets/breakpoint';

// SUSY-MAP - http://susy.readthedocs.org/en/latest/settings/
$susy: (
  // flow: ltr,
  // math: fluid,
  // output: float,
  // gutter-position: after,
  container: 90%,
  // container-position: center,
  columns: 12,
  gutters: 0.25,
  // column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: show-columns,
    // color: rgba(#66f, .25),
    // output: background,
    // toggle: top right,
  ),
  use-custom: (
    // background-image: true,
    // background-options: false,
    // box-sizing: true,
    clearfix: true,
    rem: true,
  )
);

// CUSTOM CLEARFIX MIXIN
@mixin clearfix {
  &:before,
  &:after {
    display: table;
    content: ' ';
  }

  &:after {
    clear: both;
  }
}

// BOX-SIZING: BORDER BOX
@include border-box-sizing;

// DEFAULT STYLES
html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  cursor: auto;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  color: #000;
  text-size-adjust: 100%;
  background: #fff;
  transform: translate3d(260px, 0, 0); // not supported in IE 9 and below
}

a {
  color: #268bd2;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    cursor: pointer;
  }
}

img {
  height: auto;
  max-width: 100%;
}

// MEDIA QUERIES
$bp-small: 30em;
$bp-medium: 48em;
$bp-large: 64em;

// JUST SOME LAYOUT
.container {
  @include container;
}

.off-canvas {
  position: absolute;
  width: 250px;
  left: -250px;
  top: 0;
  bottom: 0;
  transform: translate3d(260px,0,0); // not supported in IE 9 and below
}

header,
article,
aside {
  margin-bottom: gutter();
  border: 2px solid #888;
}

header {
  padding: 1em;
}

article {
  padding: 2em 0;

  @include breakpoint($bp-small) {
    @include span(9);
  }

  @include breakpoint($bp-medium) {
    @include span(8);
  }

  h3 {
    margin-left: span(1 of 8) + gutter(8);
  }
}

aside {
  padding: 2em 0;

  @include breakpoint($bp-small) {
    @include span(3 last);
  }

  @include breakpoint($bp-medium) {
    @include span(4 last);
  }

  h3 {
    margin-left: span(1 of 8);
  }
}

footer {
  padding: 1em;
  clear: both;
  border: 2px solid #888;
}

.browserupgrade {
  padding: 0.2em 0;
  margin: 0.2em 0;
  color: #000;
  background: #ccc;
}

// INSERT YOUR MAGIC HERE :)
