// OFF-CANVAS-NAVIGATION
$off-canvas-width: 250px;

.outer-wrap,
.inner-wrap {
  height: 100%;
}

.outer-wrap {
  overflow: hidden;
}

.inner-wrap {
  transition: transform 0.3s ease;
  backface-visibility: hidden;

  &.is-open {
    transform: translate3d($off-canvas-width, 0, 0);
  }
}

.off-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -$off-canvas-width;
  width: $off-canvas-width;
  background: #333333;
  transition: transform 500ms ease 0s;
}

.off-canvas-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.off-canvas-list__item a {
  display: block;
  padding: 0.7rem;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #262626;
  transition: #dedede 300ms ease 0s;

  &:active,
  &:hover {
    text-decoration: none;
    background: #242424;
  }
}
