.*/
.DS_Store*
ehthumbs.db
Thumbs.db
*.diff
*.err
*.log
*.orig
*.rej
*.swn
*.swo
*.swp
._*
*~
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
node_modules
bower_components
Gemfile.lock
.tmp
source/_includes/critical.css
source/htaccess
build
