// BREAKPOINTS    // * 16px base font size
$bp-small: 30em;  // 480px
$bp-medium: 48em; // 768px
$bp-large: 64em;  // 1024px

// SPACING
$base-padding: 1em;

// COLORS
$yellow: #fff9c4;
$amber: #ffecb3;
$orange: #ffe0b2;
