<!doctype html>
<!--[if lt IE 9 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

  {% include head.html %}

<body>
  <!--[if lt IE 9]>
  <div data-alert class="browserupgrade" class="browsehappy">Please <a href="http://browsehappy.com/">upgrade your browser</a>. <a href="#" class="close">&times;</a></div>
  <![endif]-->
  <div class="container">
    <header role="banner"><h1>This is a header</h1></header>
    <div role="main">
      {{ content }}
      <aside><h3>This is an aside</h3></aside>
    </div>
    <footer role="contentinfo"><h2>This is a footer</h2></footer>
  </div>
  <!-- build:js(source) /js/scripts.js -->
  <script src="/js/_plugins.js"></script>
  <script src="/js/_main.js"></script>
  <!-- endbuild -->
</body>
</html>
