<!DOCTYPE html>
<html class="no-js" lang="de">

  {% include head.html %}

  <body>
    <div class="outer-wrap">
      <div class="inner-wrap">

        {% include off-canvas.html %}

        <div class="content">

          {% include header.html %}

          <main role="main">
            <div class="wrap">
              <article>
                {{ content }}
              </article>
              <aside>
                {% include sidebar.html %}
              </aside>
            </div>
          </main>

          {% include footer.html %}

        </div>

      </div>
    </div>

    <!-- build:js(source) js/scripts.js -->
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
