<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ page.title }} - {{ site.title }}</title>

  <!-- +++ WEBFONTS +++ -->


  <!-- +++ CSS +++ -->
  {% if site.environment == 'production' %}
  <style>{% include critical.css %}</style>
  <script>
    {% include loadCSS.js %}
    loadCSS("css/style.css");
  </script>
  <noscript>
  {% endif %}
   <!-- build:css(source) /css/style.css -->
  <link href="css/style.css" rel="stylesheet" type="text/css">
   <!-- endbuild -->
  {% if site.environment == 'production' %}
  </noscript>
  {% endif %}

  {% seo title=false %}

</head>
