<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description" content="{{ site.descripton }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--  <link rel="apple-touch-icon" href="apple-touch-icon.png">
        Place favicon.ico in the root directory -->

  <!-- +++ WEBFONTS +++ -->
  <script>
    {% include fontloader.js %}
    loadFont("webfonts", "/css/webfonts.woff.css", "/css/webfonts.woff2.css");
  </script>
  <!--[if lt IE 9 ]>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <![endif]-->
  <noscript>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  </noscript>

  <!-- +++ CSS +++ -->
  {% if site.environment == 'production' %}
  <style>{% include critical.css %}</style>
  <script>
    {% include loadCSS.js %}
    loadCSS("/css/style.css");
  </script>
  <noscript>
  {% endif %}
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  {% if site.environment == 'production' %}
  </noscript>
  {% endif %}

  <!-- +++ MODERNIZR +++ -->
  <script type="text/javascript" src="js/modernizr-custom.js"></script>

</head>
